/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../static/font/poppins-v20-latin-regular.woff2") format("woff2");
}
/* poppins-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../../static/font/poppins-v20-latin-500.woff2") format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../../static/font/poppins-v20-latin-600.woff2") format("woff2");
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../../static/font/poppins-v20-latin-700.woff2") format("woff2");
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-image: url(../../static/images/webp/Slider.png);
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  height: 881px;
}
header nav a {
  margin-top: 24px;
}
header nav button {
  margin-top: 24px;
}

.header-title_box {
  width: 616px;
  height: 412px;
  top: 187px;
  left: 166px;
  gap: 0px;
  opacity: 0px;
  color: #fff;
  margin-top: 121px;
}
.header-title_box p {
  width: 581px;
  height: 55px;
  top: 289px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #fff;
}
.header-title_box h1 {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
  text-align: left;
  margin-bottom: 24px;
}
.header-title_box a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  text-align: left;
}

.sponsers {
  width: 1370px;
  height: 227px;
  top: 707px;
  left: 165px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  gap: 66px;
  align-items: center;
  background-color: #fff;
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
  padding: 60px 166px 54px 60px;
  margin-left: 70px;
  margin-top: 108px;
  z-index: 2;
}

.about-us-section {
  display: flex;
}

.about-us-section--content {
  display: flex;
  width: 1109px;
  height: 644px;
  top: 810px;
  left: 165px;
  gap: 160px;
  opacity: 0px;
}
.about-us-section--content .about-company {
  width: 475px;
  top: 1054px;
  left: 165px;
  gap: 0px;
  opacity: 0px;
  margin-top: 244px;
}
.about-us-section--content .about-company p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-bottom: 29px;
  color: rgba(77, 83, 60, 0.8980392157);
}
.about-us-section--content .about-company h2 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
  color: #4d533c;
  margin-bottom: 35px;
}
.about-us-section--content .about-company span {
  display: block;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 42px;
}
.about-us-section--content .about-company a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  text-align: left;
  color: #d4d6d4;
}
.about-us-section--content .about-company-founders {
  width: 474px;
  height: 644px;
  top: 810px;
  left: 800px;
  gap: 0px;
  opacity: 0px;
  background-color: transparent;
  box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.1450980392);
  z-index: 1;
}
.about-us-section--content .about-company-founders .about-company-founders-content {
  width: 426px;
  height: 340px;
  top: 1054px;
  left: 840px;
  gap: 0px;
  opacity: 0px;
  margin-top: 244px;
  margin-left: 40px;
}
.about-us-section--content .about-company-founders .about-company-founders-content blockquote {
  font-family: Poppins;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #4d533c;
}
.about-us-section--content .about-company-founders .about-company-founders-content .founders {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 358px;
  height: 90px;
  top: 1304px;
  left: 840px;
  opacity: 0px;
  margin-top: 50px;
}
.about-us-section--content .about-company-founders .about-company-founders-content .founders img {
  width: 90px;
  height: 90px;
  top: 1304px;
  left: 840px;
  gap: 0px;
  opacity: 0px;
  box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.1803921569);
  border-radius: 50%;
}
.about-us-section--content .about-company-founders .about-company-founders-content .founders .founder-names h2 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  color: #4d533c;
}
.about-us-section--content .about-company-founders .about-company-founders-content .founders .founder-names p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #152934;
}

.projects {
  margin-top: 150px;
}

.projects-title {
  display: flex;
  gap: 133px;
  width: 976px;
  height: 102px;
}
.projects-title h3 {
  width: 350px;
  height: 108px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #4d533c;
}
.projects-title p {
  width: 518px;
  height: 78px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #213842;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}/*# sourceMappingURL=style.css.map */